template/MyProduct/MyProduct.xcodeproj/project.xcworkspace/contents.xcworkspacedata
template/MyProduct/MyProduct.xcodeproj/project.xcworkspace/xcuserdata/zaccaria.xcuserdatad/UserInterfaceState.xcuserstate
template/MyProduct/MyProduct.xcodeproj/xcuserdata/zaccaria.xcuserdatad/xcschemes/MyProduct.xcscheme
template/MyProduct/MyProduct.xcodeproj/xcuserdata/zaccaria.xcuserdatad/xcschemes/xcschememanagement.plist
pippo.xcodeproj
.build
generated.pbx
index.es5.js
lib/parseWithData.es5.js
lib/readTemplate.es5.js
makefile
example.pbx
